.toast{

    position:fixed;

    right:25px;

    bottom:-220px;

    width:340px;

    background:#222;

    border-left:8px solid gold;

    border-radius:12px;

    padding:18px;

    box-shadow:0 10px 35px rgba(0,0,0,.5);

    transition:bottom .45s ease;

    z-index:1000;

}

.toast.show{

    bottom:25px;

}

.toast h3{

    color:gold;

    margin-bottom:8px;

}

.toast h2{

    margin-bottom:6px;

}

.toast p{

    color:#ddd;

}
